name: Recent Activity

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  activity:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate activity log
        uses: andyruwruw/activity-log@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MAX_LINES: 10

      - name: Commit activity file
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "update: recent activity"
          file_pattern: ACTIVITY.md
