name: Generate Snake

on:
  schedule: 
    - cron: "0 */12 * * *"  
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: CBYeuler
          outputs: |
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
            dist/github-contribution-grid-snake.svg?palette=github-light

      - name: Upload to GitHub
        uses: EndBug/add-and-commit@v9
        with:
          message: "Generate Snake Animation"
          add: "dist/*"
