name: GitHub Profile Summary Cards

on:
  schedule:
    - cron: "0 0 * * *"   
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate profile summary cards
        uses: yakutou/github-profile-summary-cards@release
        with:
          USERNAME: "CBYeuler"
          UTC_OFFSET: "+3"

      - name: Commit files
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "update: profile summary cards"
