name: Update Latest Projects

on:
  schedule:
    - cron: "0 */3 * * *"   # every 3 hours 
  workflow_dispatch:        # allow manual run

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Fetch latest repos
      uses: gautamkrishnar/blog-post-workflow@master
      with:
        feed_list: "https://api.github.com/users/CBYeuler/repos?sort=updated"
        custom_tags: "PROJECTS"
        template: "\n- [{{title}}]({{url}})"
        max_lines: 2

    - name: Commit changes
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: "Updated latest projects"
