name: Update latest projects in README

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */3 * * *"  # her 6 saatte bir

jobs:
  update-readme:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Update README with latest projects
        run: |
          python .github/scripts/update_readme.py

      - name: Commit and push if changed
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git diff
          git add README.md || true
          git diff --cached --quiet || git commit -m "chore: update latest projects section"
          git push
